<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/flasht-style.css')}}">
    <script src="https://kit.fontawesome.com/8a206a71da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ url_for('static', filename='/css/flasht-mobile-style.css')}}">
    <title>Flashy</title>
</head>
<body>
    <section id="Home Section">
        <div id="container">
            <div class="card card-example">
                <h3 id="language">{{ title }}</h3>
                <h3 class="card-color-{{ran_color}}"id="letter">{{ word }}</h3>

                <h3 id="language-en">{{ en_title }}</h3>
                <h3 class="card-color-{{ran_color}}" id="letter-en">{{ en_word }}</h3>
            </div>
            <!-- <div class="card card-tutor">
                <h3>Тайлбар</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis rerum aperiam. Quo, sint animi sed aspernatur a consectetur facilis nostrum in libero quasi temporibus iste reiciendis unde tempore atque! 
            </div> -->
            <form action="" method="POST" id="btn">
                <button href="#" class="btn btn-wrong">Буруу</button>
                <button href="#" class="btn btn-right">Зөв</button>
            </form>
        </div>
    </section>
</body>
</html>