<!DOCTYPE html>
<html lang="en">
<head>
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<meta charset="UTF-8">
	<title>AMAR - THE BEAR - BOLDAEV</title>

	
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/glitch.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}">
<script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=LcNfntsTrFpVV1LJycPiNgjLuvu2U3Ziy-c63oULLXJ46RNVvZVGmwQX9IGPdT_GdVWY8jxYfALrG4FuLWEy9Q" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="http://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cDovL2F4aXNjY3AuY29tLz9ja2F0dGVtcHQ9MQ"/></head>
<body>

<div class="space"></div>

	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- CONTENT -->
		<section class="site-content">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">

						<!-- TIMER -->
						<div class="glitch-wrap glitch" data-time="">

							<div class="fadein">
								<div class="glitch-clock is-off">
									<div class="glitch-time">
										<div class="glitch-content">
											<img src="{{ url_for('static', filename='/img/amarboldaev-logo-380.png')}}" width="100%" alt="">
										</div>

									</div>
								</div>
							</div>

						</div>
						<!-- /TIMER -->

						<h2 class="et-description">COMING SOON</h2>
						<div class="text-center social-icons-wrap">
							<div class="social-icons">
								<a href="https://www.instagram.com/amarboldaev/"><i class="fa fa-instagram"></i></a>
								<a href="https://www.facebook.com/Amarbold.Ariunbayar/"><i class="fa fa-facebook"></i></a>
								<a href="mailto:amarbold.ar@gmail.com"><i class="fa fa-envelope"></i></a>

							</div>
							<div class="need-social"><div class="opened">we are social</div><div class="closes"></div></div>
						</div>

					</div><!-- col-xs-12 -->
				</div><!-- row -->
			</div><!-- container -->

		</section>
		<!-- /CONTENT -->
		
		<!-- FOOTER -->
		<footer class="site-footer">

			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 text-center-xs text-right">
						<div class="copyright">
							© AMAR BOLDAEV, {{ now.year }}. amarbold.ar@gmail.com.
						</div>
					</div>

				</div>
			</div>

		</footer>
		<!-- /FOOTER -->

	</div>
	<!-- /WRAPPER -->

	<script src="{{ url_for('static', filename='/js/jquery-1.11.1.min.js')}}"></script>
	<script src="{{ url_for('static', filename='/js/bootstrap.min.js')}}"></script>

	<script src="static/js/main.js"></script>

	
</body>
</html>